apache-airflow-providers-slack==5.0.0
apache-airflow-providers-snowflake==3.3.0
airflow-provider-fivetran-async==1.0.0a5
openlineage-sql
dbt-core==1.4.1
dbt-snowflake==1.4.1
openlineage-dbt==0.20.6
#astronomer-cosmos[dbt-snowflake,dbt-openlineage]
